/* Everything Common */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    
}
.button:hover {
    background-color: #3c35cc; 
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(111, 85, 255, 0.6);     
    cursor: pointer;
}


.num-design{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.review{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;

}

.common-bg{
    background-color: rgba(245, 248, 255, 1);
}
/* First page */
*{
    margin: 0;
}

nav{
    display: flex;
    gap: 909px;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
}
.logo{
    color: #4E47ff;
    font-size: 34px;
    font-weight: 900;
    margin-top: 50px;
    margin-left: 150px;
}
.s-button{
    margin-top: 50px;
    margin-right: 150px;
}
.header{
    background-image: url(Assets/Hero-bg.png);
}
.banner{
    display: block;
    text-align: center;
    margin-top: 309px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
   
}
.banner-button{
    margin-bottom: 152px;
    margin-top: 37px;
}

/* Second page or action section */
.action{
   
    display: flex;
    gap: 220px;
    align-items: center;
    justify-content: space-between;
    padding-top: 116px;
    padding-left: 141px;
    padding-right: 159px;
}
.action-img{
    border-radius: 48px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-subtitle{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 23px;
    margin-bottom: 23px;
}

/* User section */
.user-section{
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    border-radius: 24px;
    padding: 50px 80px;
    margin: 116px 159px 141px 137px;
}
.user-section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.productive-users{
    display: flex;
    gap: 158px;
    justify-content: space-around;
    margin-top: 40px;
}
/* Review section */

.review-section{
     justify-items: center;
     
}
.review-container{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    padding: 24px;
    border: solid rgba(242, 237, 237, 1);
    border-width: 1px;
    
}
.user-reviews{
    display: flex;
    gap: 20px;
    margin: 50px 151px 149px 137px;
}
.review-section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.review-header{
    color: rgba(30, 30, 30, 1);
    font-size: 24px;
    font-weight: bolder;
    margin-top: 24px;
    margin-bottom: 8px;

}
.review{
     color: rgba(30, 30, 30, 1);
     font-size: 16px;
     font-weight: 400;

}
.reviewer-info{
    display: flex;
    gap: 12px;
    margin-top: 24px;
    justify-items: center;
}
.review-info {
    list-style: none;
}
.reviewer-name{
    color: #757575;
    font-size: 16px;
    font-weight: bolder;
}
.review-date{
    color: #B3B3B3;
    font-size: 16;
    font-weight: 400;
}
.avatar{
    border-radius: 50%;
}

/* Focus Better section */

.focus-better-box{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 14px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0px 150px 93px 150px;
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    justify-items: center;
    
}
.focus-better-img img{
    border-radius: 48px;
    margin: 0px 0px 71px 0px;
}
.focus-better-header{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.focus-better-slogan{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
/* form section */

.form{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 14px 150px;
    
}
/* .form-column{
    width: 50%;
} */
.form-header{
    font-size: 97px;
    font-weight: bold;
    padding: 71px 0px;
    
}
.form-info form label{
    font-size: 18px;
    font-weight: 600;
}
.form-info{
    padding: 71px 0px;
}
.form-info form input[type="text"], input[type="email"]{
    display: block;
    width: 497px;
    height: 70px;
    font-size: 20px;
    padding: 20px 32px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid rgba(214, 221, 237, 1);
    background-color: #FFFFFF;
    box-sizing: border-box;
}
.form-info form textarea{
    display: block;
    width: 497px;
    height: 135px;
    font-size: 20px;
    padding: 20px 32px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid rgba(214, 221, 237, 1);
    background-color: #FFFFFF;
    box-sizing: border-box;
}
.form-info form input[type="submit"]{
    display: block;
    width: 497px;
    height: 62px;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
}
/* Footer section */
.footer{
    justify-items: center;
    margin: 105px 455px;
}

.logo1{
    color: #4E47ff;
    font-size: 100px;
    font-weight: 900;
    
}

.footer-discription{
    color: rgba(137, 135, 161, 1);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}

.footer nav ul{
    display: flex;
    gap: 48px;
    color: rgba(137, 135, 161, 1);
    list-style: none;
}